* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header,
nav,
footer,
section,
article,
aside {
  display: block;
}
img {
  border: none;
}
html,
body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#root {
  height: 100%;
}
